<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-指令</title>
    <!-- 第一步引入js文件 -->
    <script src="js/vue.js"></script>
</head>

<body>
    <!-- 第三步定义视图 -->
    <div id="app">
        <div v-for="(addr,index) in addrs">{{addr}} : {{index}}</div>
        <hr>
        <div v-for="addr in addrs">{{addr}}</div>

    </div>

</body>
<script>
    // 第二步创建vue对象
    new Vue({
        el: "#app",
        data: {
            addrs: ["北京", "上海", "西安"]
        }


    })
</script>

</html>